<div>
    <header class="header">
  
      <img src="../../../../assets/header-image.png">
  
    </header>
  
    <main class="register">
  
      <h1>Register</h1>
  
      <div class="container-register">
  
        <div class="container-input">
          <label>Email</label>
          <input type="text">
        </div>
  
        <div class="container-input">
          <label>Password</label>
  
          <div class="container">
            <input type="password">
            <img src="../../../../assets/eye-open.png">
          </div>
        </div>

        <div class="container-input">
            <label>Confirm password</label>
    
            <div class="container">
              <input type="password">
              <img src="../../../../assets/eye-open.png">
            </div>
        </div>
  
        <div class="container-button">
          <button class="submit" type="submit">Register</button>
  
          <a class="register-link" href="/login">Login</a>
        </div>
  
      </div>
  
    </main>
  
    <div class="back-to-home">
  
      <img src="../../../assets/footerhome.png">
  
    </div>
  
</div>
