// Font import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables

:root {
  // Backgrounds
  --body-bg: #0F0F1A;
  --body-gray: #414141;
  --body-gray-2: #1E1F22;

  // Colors
  --color-purple: #252586;
  --color-pricing: #171727;
  --color-active: #3838FF;
  --color-error: #FF5252;

  // Hovers 
  --hover-purple: #202074;
  --hover-active: #6565ff;
  --hover-gray: #aeb3cf;
  --hover-active: #aeb3cf;

  // Text colors
  --text-white: #ffffff;
  --text-gray: #9195AB;
  --text-blue: #3994FF;
}

// Reset default styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--body-bg);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
