// Font import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables

:root {
  // Backgrounds
  --body-bg: #0F0F1A;
  --body-gray: #414141;

  // Colors
  --color-purple: #252586;
  --color-pricing: #171727;

  // Hovers 
  --hover-purple: #202074;
  --hover-gray: #aeb3cf;

  // Text colors
  --text-white: #ffffff;
  --text-gray: #9195AB;
  --text-blue: #3994FF;
}

// Reset default styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--body-bg);
}
