<header>

    <div class="logo">
  
      <img src="../../../../assets/logo.png">
  
    </div>
  
</header>
  
<nav>
  <div class="links">
    <a routerLink="/dashboard/home">Home</a>
    <a class="a-active" routerLink="/dashboard/servers">Servers</a>
    <a routerLink="/dashboard/settings">Settings</a>
    <a routerLink="/dashboard/support">Support</a>
  </div>
</nav>
  
<main class="dashboard">
  
  <div class="container">
        
      <div class="server">

          <div class="name">Server 1</div>

          <img src="../../../assets/server-settings.png">

      </div>

      <div class="server">

          <div class="name">Server 2</div>

          <img src="../../../assets/server-settings.png">

      </div>

      <div class="server">

          <div class="name">Server 3</div>

          <img src="../../../assets/server-settings.png">

      </div>

      <div class="server">

          <div class="name">Server 4</div>

          <img src="../../../assets/server-settings.png">

      </div>

      <div class="pricing">

          <h3>Add a server</h3>

          <h1>$5/per server</h1>

          <a class="checkout" routerLink="/checkout">
            <h3>Buy</h3>
            <img src="../../../assets/arrow-buy.svg">
          </a>
            
      </div>

  </div>

</main>
  