<header>

    <div class="logo">
  
      <img src="../../../../assets/logo.png">
  
    </div>
  
</header>

<nav>
    <div class="links">
      <a routerLink="/dashboard/home">Home</a>
      <a class="a-active" routerLink="/dashboard/servers">Servers</a>
      <a routerLink="/dashboard/settings">Settings</a>
      <a routerLink="/dashboard/support">Support</a>
    </div>
</nav>

<main class="dashboard">

    <div class="container">

        <h3>Server settings</h3>

        <div class="container-toggles">

            <h3>Toggle shop</h3>

            <div class="toggle" id="toggle-shop">
                <label class="switch">
                    <input type="checkbox" id="toggle-shop">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-voice">

            <h3>Toggle auto voice channel generator</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-carry-system">

            <h3>Toggle carry system</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-buy-premium">

            <h3>Toggle buy premium</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-set-premium">

            <h3>Toggle set premium</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-revoke-premium">

            <h3>Toggle revoke premium</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-ticket-panel">

            <h3>Toggle ticket panel</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-welcome-channel">

            <h3>Toggle welcome channel</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <div class="container-toggles" id="toggle-auto-strike">

            <h3>Toggle welcome channel</h3>

            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

        </div>
    </div>

</main>

