.header {
  display: flex;
  position: relative;
  border-bottom: 1px solid gray;
  height: 7.5vh;
  width: 100vw;
  justify-content: center;

  .logo {
    height: 50%;
    width: 50%;
    //background-image: url('./assets/logo.png');
  }
}
