<div>
  <header class="header">

    <img src="../../../../assets/header-image.png">

  </header>

  <main class="login">

    <h1>Login</h1>

    <div class="container-login">

      <div class="container-input">
        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" name="email" placeholder="example@provider.com">
      </div>

      <div class="container-input">
        <label>Password</label>

        <div class="container">
          <input type="password" [(ngModel)]="user.password" name="password" placeholder="Your password">
          <img src="../../../../assets/eye-open.png">
        </div>
      </div>

      <div class="container-button">
        <button class="submit" (click)="login()">Login</button>

        <a class="register-link" href="/register">Register</a>
      </div>

    </div>

  </main>

  <div class="back-to-home">

    <img src="../../../assets/footerhome.png">

  </div>

</div>
