<body>

  <div class="landing">

    <header>

      <div class="container-header">

        <div class="logo">
          <a routerLink="/">Logo</a>
        </div>

        <div class="navigation">
          <ul>
            <li>
              <a routerLink="/features">Features</a>
            </li>
            <li>
              <a routerLink="/pricing">Pricing</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="button-login">
          <a href="">
            Login
          </a>
        </div>

      </div>

    </header>

    <main></main>

  </div>

</body>
