<header>

  <div class="logo">

    <img src="../../../../assets/logo.png">

  </div>

</header>

<nav>
  <div class="links">
    <a class="a-active" routerLink="/dashboard/home">Home</a>
    <a routerLink="/dashboard/servers">Servers</a>
    <a routerLink="/dashboard/settings">Settings</a>
    <a routerLink="/dashboard/support">Support</a>
  </div>
</nav>

<main class="dashboard">

  <div class="container">

    <div class="register-users">

      <h3>Registered users</h3>

      <div class="register-users-container">
        <img src="../../../../assets/register-users.png">
        <div id="register-users">0000</div>
      </div>

    </div>

    <div class="online-users">

      <h3>Online users</h3>

      <div class="online-users-container">
        <img src="../../../../assets/online-users.png">
        <div id="online-users">0000</div>
      </div>

    </div>

    <div class="online-admins">

      <h3>Registered users</h3>

      <div class="online-admins-container">
        <img src="../../../../assets/online-admin.png">
        <div id="online-admins">0000</div>
      </div>

    </div>

  </div>

  <div>
    <h3>News & Updates</h3>

    <div class="container-general">

      <div class="date-title">

        <div id="date">00-00-0000</div>
        <div id="name">test</div>

      </div>

      <div class="general">
        test
      </div>

    </div>
  </div>

  <div class="container-3">

    <h3>Order List</h3>

    <div class="description">

      <h4>picture</h4>

    </div>

  </div>

</main>

<footer>
  <div class="back-to-home">

    <img src="../../../assets/footer.png">

  </div>
</footer>
